{% extends "base.html" %}
{% block content %}

<table>
  <tr>
    <th></th>
    <th></th>
    <th>Name</th>
    <th>Description</th>
    <th>Stock Quantity</th>
    <th>Buying Cost</th>
    <th>Selling Cost</th>
    <th>Manufacturer</th>
  </tr>
{% for product in all_products %}
  <div class="product">
    <div class="content">
      <tr>
        <td>
          <a href="/products/{{product.id}}/edit">
            <button>
              Edit
            </button>
          </a>
        </td>
        <td>
          <div class="buttons">
            <form class="delete-form" action="/products/{{product.id}}/delete" method="POST">
              <button>
                Delete
              </button>
            </form>
          </div>
        </td>
        <td>
          <a href = "/products/<id>"> {{product.name}} </a>
        </td>
      <!-- <a href="/products/{{product.id}}/edit">{{product.name}}</a> -->

      <div class="name">
        <td>
          {{product.description}}
        </td>
        <td>
          {{product.stock_quantity}}
        </td>
        <td>
          {{product.buying_cost}}
        </td>
        <td>
          {{product.selling_price}}
        </td>
        <!-- <span class="manufacturer">{{product.manufacturer.id}}</span> -->
        <td>
          {{product.manufacturer.name}}
        </td>
      </div>
      <!-- <div class="buttons">
        <form class="delete-form" action="/products/{{product.id}}/delete" method="POST">
          <button class="button"><i class="fa fa-trash-o fa-3x" style="color:white" aria-hidden="true">DELETE</i></button>
        </form>
      </div> -->
    </div>
  </div>
{% endfor %}
</table>
<a href="/products/new">New product</a>
{% endblock %}