{% extends "base.html" %}
{% block content %}

<form action="/manufacturers/new" method="POST">

  <div>
    <label for="name">Name:</label>
    <input type="text" id="name" name="name" placeholder="Name" required autofocus>
  </div>

  <div>
    <label for="phone">Phone:</label>
    <input type="text" id="phone" name="phone" placeholder="Phone" required autofocus>
  </div>

  <div>
    <label for="website">Website:</label>
    <input type="text" id="website" name="website" placeholder="website" required autofocus>
  </div>
 
  <div>
    <label for="email">Email:</label>
    <input type="text" id="email" name="email"  placeholder="email" required autofocus>
  </div>

<button class="add_manufacturer_button" type="submit">Add</button>

</form>
{% endblock %}