body{
    font-family: "Helvetica", arial, sans-serif; font-size: 16px;
    background-color:#0b0c0c;
    color: white;
  }
  
  /*style imorted google font */

  h1{
    font-family: 'Sacramento', cursive; font-size:34px;
    color: red;
  }
  
  .product {
    /* border: 1px solid black; */
    /* width: 300px; */
    /* min-height: 68px; */
    /*padding: 10px; */
    /* display: flex; */
    /* line-height: 18px; */
    /* #margin-bottom: 10px; */
    /* color: white; */
    font-size: 13px;
  }
  
  .name {
    font-weight: bold;
    margin-bottom: 0.5em;
    margin-right: 0.3em;
  }
  
  .manufacturer{
    /* color: white; */
    font-size: 13px;
    /* margin-left: 20px; */
  }
  
  .buttons {
    margin-top: 0px;
    margin-left: 2px;
    font-size: 1.4em;
    color: white;
  }
  
  .buttons i {
    width: 80px;
  }
  
  input, select, button {
    font-size: 100%;
    width : 100%;
    padding: 10px;
    margin: 10px;
    box-sizing: border-box;
  }
  
  form > button {
    /* display: contents; */
    /* font-size: 65%; */
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 50px;
}

button {
    font-size: 14px;
    height: 30px;
    padding: 5px;
    width: 50px;   
  }
  
  .delete-form{
    display: inline;
  }
  .menu {
    display: flex;
    padding: 10px;
    background-color: black;
    color: white;
}
  
  
  .menu li a{
    text-decoration: none;
    
  }
  
  .menu li a:visited{
    color: white;
  }
  
  .menu li{
    padding-right: 10px;
    list-style: none;
    color: white;
    font-family: "Helvetica", arial, sans-serif; font-size: 14px;
  }
  
  .container{
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    margin: 0 100px
    /* auto; */
  }
  
 .content {
     color: white;
 }

 table > tbody > tr > th {
    color: white;
    padding: 5px;
    text-align: center;
 }

 table > tbody > tr > td {
    color: white;
    padding: 5px;
    text-align: center;
 }

 #update_manufacturer_button {
    background-color:white; 
    color: black;
    height: 45px;
    width: 100px;
 }

 #add_manufacturer_button {
    background-color:white; 
    color: black;
    height: 45px;
    width: 100px;
 }

 img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  #logo-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
    position: relative;
    display: inline-block;
    padding: 15px 30px;
    color: #2196f3;
    text-transform: uppercase;
    letter-spacing: 4px;
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
}



a:hover {
    color: #255784;
    background: #2196f3;
    box-shadow: 0 0 10px #2196f3, 0 0 40px #2196f3, 0 0 80px #2196f3;
    transition-delay: 1s;
}


a span {
    position: absolute;
    display: block;
}




a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #2196f3);
}



a:hover span:nth-child(1) {
    left: 100%;
    transition: 1s;
}


a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #2196f3);
}

a:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.5s;
}



a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #2196f3);
}

a:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}



a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #2196f3);
}

a:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
